backups/
batch/
cras/
data/
dugger_zip/
elasticsearch/
environments/
frontend/node_modules/
inference_models/
isefitclub_php_resources/
logs/
ollama_storage/
pyl_php_files/
raw-data/
scripts/
utilities/

# Specific files
package-lock.json
package.json
yarn.lock
cover.txt
dugger_zip.zip
generate_conditional_images.py
job_prompt_test_file
MMR.md
PPO.md
UNET2DConditionModel.md